SERVICE_NAME=gateway-server
APP_ENV=development

PORT=8000

USER_SERVICE_ADDRESS=localhost:8001
AUTH_SERVICE_ADDRESS=localhost:8002
TRANSACTION_SERVICE_ADDRESS=localhost:8003

OPENTELEMETRY_COLLECTOR_ADDRESS=localhost:4317
