SERVICE_NAME=user-server
APP_ENV=development

PORT=8001

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_NAME=arjuna_user
POSTGRES_MAX_OPEN_CONNS=50
POSTGRES_MAX_CONN_LIFETIME=10m
POSTGRES_MAX_IDLE_LIFETIME=5m
POSTGRES_SSL_MODE=disable

KEYCLOAK_ADDRESS=http://localhost:8080
KEYCLOAK_REALM=arjuna
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_TIMEOUT_SECONDS=5

JAEGER_ENDPOINT=http://localhost:14268/api/traces
