SERVICE_NAME=user-server
APP_ENV=development

RELAYER_SLEEP_TIME_MILLISECONDS=1000

PORT=8001
PROMETHEUS_PORT=7001

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_NAME=arjuna_user
POSTGRES_MAX_OPEN_CONNS=50
POSTGRES_MAX_CONN_LIFETIME=10m
POSTGRES_MAX_IDLE_LIFETIME=5m
POSTGRES_SSL_MODE=disable

REDIS_ADDRESS=localhost:6379

TEMPORAL_ADDRESS=localhost:7233

OPENTELEMETRY_COLLECTOR_ADDRESS=localhost:4317

AUTH_SERVICE_HOST=localhost:8002
