SERVICE_NAME=auth-server
APP_ENV=development

PORT=8002
PROMETHEUS_PORT=7002

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_NAME=arjuna_auth
POSTGRES_MAX_OPEN_CONNS=50
POSTGRES_MAX_CONN_LIFETIME=10m
POSTGRES_MAX_IDLE_LIFETIME=5m
POSTGRES_SSL_MODE=disable

OPENTELEMETRY_COLLECTOR_ADDRESS=localhost:4317

TOKEN_SIGNING_KEY=arjuna
TOKEN_EXPIRY_TIME_IN_MINUTE=5
