on:
  workflow_call:

jobs:
  pr-title-check:
    name: Check PR title
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      # Refer to https://www.conventionalcommits.org/en/v1.0.0/ for commit message convention.
      - uses: amannn/action-semantic-pull-request@v4.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  proto-lint:
    name: Lint all proto files
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"
          devbox-version: 0.16.0
      - name: Format and lint buf and proto
        run: |
          devbox shell -- bash -c "
            buf format -w
            make check.proto
            make lint
          "
