on:
  workflow_call:
    inputs:
      target:
        description: The target project to run the check against.
        required: true
        type: string

    secrets:
      SEMGREP_APP_TOKEN:
        required: true
      CODECOV_TOKEN:
        required: true

jobs:
  download-module:
    name: Download go module
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.target }}
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.x
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Download module
        run: go mod download
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-module-${{ github.repository }}-${{ inputs.target }}-${{ github.sha }}
          restore-keys: |
            go-module-${{ github.repository }}-${{ inputs.target }}-${{ github.sha }}

  import-lint:
    name: Lint import block
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"
          devbox-version: 0.16.0
      - name: Format and check imports
        run: |
          devbox shell <<'EOF'
          make format
          make check.import
          EOF

  security-check:
    name: Semgrep scan
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Scan using Semgrep
        run: semgrep ci
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

  go-code-lint:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"
          devbox-version: 0.16.0
      - name: Format and lint buf and proto
        run: |
          devbox run -- make lint svc=${{ inputs.target }}

  unit-test-coverage:
    name: Unit test and coverage
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      # TODO: move this after lint
      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"
          devbox-version: 0.16.0
      - name: Cache vendor
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-module-${{ github.repository }}-${{ inputs.target }}-${{ github.sha }}
          restore-keys: |
            go-module-${{ github.repository }}-${{ inputs.target }}-${{ github.sha }}
      - name: Run unit test and coverage
        run: devbox run -- CGO_ENABLED=1 make test.cover svc=${{ inputs.target }}
      - name: Push coverage result to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
